@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: 'Work Sans', serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

/* shared Style  */

.display-flex {
  display: flex;
}

.primary-color {
  color: #ff900e;
}

/* dark 01 */

.text-black {
  color: black;
}

/* dark 02 */
.text-gray {
  color: #727272;
}
/* dark 03*/
.text-light-gray {
  color: #727272;
}

main > section {
  margin-top: 130px;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

.btn-primary {
  background-color: #ff900e;
  padding: 21px 25px;
  color: white;
  border-radius: 8px;
  border: none;
  font-weight: 1.2rem;
}

.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

.nav-bar {
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  gap: 30px;
}

.nav-item {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: black;
}
.nav-title {
  font-size: 2.8rem;
}

.nav-bar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title {
  font-weight: 700;
  font-size: 3.8rem;
}

.banner-img {
  width: 100%;
}

/* theme Section styles */

.our-futures {
  align-items: center;
}

.img-future {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.future-content {
  max-width: 537px;
  margin-left: 75px;
}

.future-title {
  font-size: 2.8rem;
}

.future-des {
  margin-bottom: 32px;
}

#quick-list {
  font-weight: 500;
}

/* Feature section style */

#feature-section-title {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
  font-weight: 700;
  font-size: 2.8rem;
}

.feature-item-container {
  display: flex;
  gap: 100px;
}

.feature-card {
  padding: 30px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  /* box-shadow: 0 30px 0 rgba(0, 0, 0, 0.06); */
}

.feature-card .feature-card-title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

.feature-section-des {
  margin-bottom: 30px;
}

#experiance-badge {
  padding: 40px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: -50px;
  margin-top: -120px;
}

#expericance-year {
  font-weight: 700;
  font-size: 4rem;
}

.feature-architect > img {
  width: 100%;
}

/* facts related section */

.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.fact-card {
  border: 1px solid #ff900e;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fact-number {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}

.fact-name {
  font-size: 1.25rem;
  font-weight: 600px;
  margin-top: 10px;
}
.facts-des {
  max-width: 540px;
}

/* Sponsor related style */

.sponsor-info {
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}

.sponsor-companies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img {
  filter: grayscale(100%);
}

/* Footer section style */

.all-right-reserved {
  width: 1440px;
  margin: 0 auto;
  text-align: center;
  padding: 30px 30px;
  margin-top: 130px;
  margin-bottom: 130px;
  background-color: #fff4e7;
}

/* media query responsive screen */

@media screen and (max-width: 576px) {
  .nav-bar,
  .nav-links,
  .our-futures,
  .feature-item-container {
    flex-direction: column;
  }

  .img-future,
  .facts-container,
  .sponsor-companies {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }
  .facts-container {
    justify-items: center;
  }

  .sponsor-companies {
    justify-items: center;
    gap: 50px;
  }

  .future-content {
    margin-left: 20px;
  }

  #experiance-badge {
    margin-top: 20px;
    margin-left: 20px;
  }

  .all-right-reserved {
    width: 300px;
    text-align: center;
    align-items: center;
    padding: 10px 10px;
    margin: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #fff4e7;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .our-futures,
  .feature-item-container {
    flex-direction: column;
  }

  .future-content {
    margin: 50px auto;
  }
  .sponsor-companies,
  .facts-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-items: center;
  }
  #experiance-badge {
    margin-top: 20px;
    margin-left: 20px;
  }

  .all-right-reserved {
    width: 600px;
    text-align: center;
    align-items: center;
    padding: 10px 10px;
    margin: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #fff4e7;
  }
}
